Question1:
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement

In [2]:
#Let's dissect the process of execution in detail:

#1.The initial value of the global variable an is set to zero.
#2.The global variable a will be used by the function b(), which is defined.
#3.It is established that the function c(a) takes an input a and returns a + 2.
#4.Now, when we run b() for the first time, the following things happen:
 # It makes a call to the global variable a and gives the function c(a) the value (0).
 # When the parameter an is 0 inside of c(a), it returns 0 + 2, giving a return value of 2.
 # The global variable an is given the return value of c(a)(2) by the function b().
#5.At this time, an is equal to 2.
#6.When we execute b() for the second time:
  #It again accesses the global variable a, which is now 2, and passes its value to c(a).
  #Inside c(a), the argument a is 2, so it returns 2 + 2, resulting in a return value of 4.
 # The function b() assigns the return value of c(a) (4) to the global variable a.
#7.Now, the value of a is 4.
#8.When we execute b() for the third time:
  #It accesses the global variable a, which is now 4, and passes its value to c(a).
  #Inside c(a), the argument a is 4, so it returns 4 + 2, resulting in a return value of 6.
  #The function b() assigns the return value of c(a) (6) to the global variable a.
#9.Finally, when we evaluate the expression a, it retrieves the current value of the global variable a, which is 6.
  #Therefore, the value displayed when the last expression a is evaluated is 6.

Question 2:
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [17]:
def fileLength(filelength):
    try:
        infile = open(filelength)
        content = infile.read()
        infile.close()
        return len(content)
    except:
        print(f"File {filelength} not found.")
fileLength('midterm.py')
fileLength('idterm.py')

File midterm.py not found.
File idterm.py not found.

Question3:
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [18]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

In [19]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

Question 4:
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
ð‘¥/2 ð‘–ð‘“ ð‘¥ ð‘–ð‘  ð‘’ð‘£ð‘’ð‘›
3ð‘¥ + 1 ð‘–ð‘“ ð‘¥ ð‘–ð‘  ð‘œð‘‘ð‘‘
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.

>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1
Question 5

In [20]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

In [21]:
collatz(1)
collatz(10)

1
10
5
16
8
4
2
1

Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [22]:
def binary(n):
    if n > 1:
        binary(n // 2)
    print(n % 2, end="")

In [25]:
binary(0)
print("\n")
binary(1)
print("\n")
binary(3)
print("\n")
binary(9)

0

1

11

1001

Question 6:
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have
 BDAT 1004 â€“ Data Programming
Page 5 of 7
F2021
BDAT 1004 Computer Studies
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [26]:
from html.parser import HTMLParser


class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.headings = []
        self.indentation = 0

    def handle_starttag(self, tag, attrs):
        if tag.startswith("h"):
            self.indentation = int(tag[1:]) - 1

    def handle_data(self, data):
        if data.strip() and self.indentation >= 0:
            self.headings.append(" " * self.indentation + data.strip())

    def print_headings(self):
        for heading in self.headings:
            print(heading)

In [28]:
infile = open('w3c.txt')
content = infile.read()
infile.close()

hp = HeadingParser()
hp.feed(content)
hp.print_headings()

FileNotFoundError: [Errno 2] No such file or directory: 'w3c.txt'

Question 7:
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [31]:
import requests
from bs4 import BeautifulSoup


def webdir(url, depth, indent):
    if depth < 0:
        return

    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')

    print(' ' * indent + url)

    if depth == 0:
        return

    for link in soup.find_all('a'):
        next_url = link.get('href')
        if next_url.startswith('http'):
            webdir(next_url, depth - 1, indent + 1)

In [32]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

Question 8:
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.
City Country Season Temperature
(C)Rainfall
(mm)
Mumbai India Winter 24.8 5.9
Mumbai India Spring 28.4 16.2
Mumbai India Summer 27.9 1549.4
Mumbai India Fall 27.6 346.0
London United Kingdom Winter 4.2 207.7
London United Kingdom Spring 8.3 169.6
London United Kingdom Summer 15.7 157.0
London United Kingdom Fall 10.4 218.5
Cairo Egypt Winter 13.6 16.5
Cairo Egypt Spring 20.7 6.5
Cairo Egypt Summer 27.7 0.1
Cairo Egypt Fall 22.2 4.5

In [46]:
import sqlite3

# Connect to the SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('weather_data.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Create the table
cursor.execute('''
    CREATE TABLE Weather (
        City TEXT,
        Country TEXT,
        Season TEXT,
        Temperature FLOAT,
        Rainfall FLOAT
    )
''')

# Insert data into the table
data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

cursor.executemany('INSERT INTO Weather VALUES (?, ?, ?, ?, ?)', data)

# Commit the changes and close the connection
conn.commit()
conn.close()

OperationalError: table Weather already exists

In [50]:
cursor.execute('SELECT Temperature FROM Weather')
temperature_data = cursor.fetchall()
print("Temperature Data:")
for row in temperature_data:
    print(row[0])

print()

Temperature Data:
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2

In [51]:
cursor.execute('SELECT DISTINCT City FROM Weather')
cities = cursor.fetchall()
print("Cities:")
for row in cities:
    print(row[0])

print()

Cities:
Mumbai
London
Cairo

In [52]:
cursor.execute('SELECT * FROM Weather WHERE Country = "India"')
india_records = cursor.fetchall()
print("Records for India:")
for row in india_records:
    print(row)

print()

Records for India:
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [53]:
cursor.execute('SELECT * FROM Weather WHERE Season = "Fall"')
fall_records = cursor.fetchall()
print("Fall Records:")
for row in fall_records:
    print(row)

Fall Records:
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [54]:
cursor.execute('''
    SELECT City, Country
    FROM Weather
    WHERE Season = 'Fall'
    GROUP BY City, Country
    HAVING AVG(Temperature) > 20
    ORDER BY AVG(Temperature) ASC
''')
fall_temp_above_20 = cursor.fetchall()
print("City and Country with average Fall temperature above 20 degrees (in increasing temperature order):")
for row in fall_temp_above_20:
    print(row)

print()

City and Country with average Fall temperature above 20 degrees (in increasing temperature order):
('Cairo', 'Egypt')
('Mumbai', 'India')

In [55]:
cursor.execute('SELECT SUM(Rainfall) FROM Weather WHERE City = "Cairo"')
total_rainfall_cairo = cursor.fetchone()[0]
print("Total annual rainfall for Cairo:", total_rainfall_cairo)

print()

Total annual rainfall for Cairo: 27.6

In [56]:
cursor.execute('''
    SELECT Season, SUM(Rainfall)
    FROM Weather
    GROUP BY Season
''')
total_rainfall_seasons = cursor.fetchall()
print("Total rainfall for each season:")
for row in total_rainfall_seasons:
    print(row)

Total rainfall for each season:
('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

Question 9:. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [38]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
words_upper = [word.upper() for word in words]
print(words_upper)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [39]:
words_lower = [word.lower() for word in words]
print (words_lower)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [41]:
word_lengths = [len(word) for word in words]
print(word_lengths)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [42]:
word_info = [[word.upper(), word.lower(), len(word)] for word in words]
print(word_info)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [43]:
words_4_or_more = [word for word in words if len(word) >= 4]
print(words_4_or_more)

['quick', 'brown', 'jumps', 'over', 'lazy']